@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  padding-top: 10px;
  height: 500px;
  width: 350px;
  border: 2px solid black;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  background-color: #59606d;
  box-shadow: 0px 0px 5px 6px #ccc;
}

.display {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 15px;
  padding-right: 10px;
  height: 25%;
  width: 86%;
  border: 2px solid black;
  background-color: #f0fff3;
  border-radius: 9px;
  box-shadow: inset 0 0 6px #747373;
}

.display > * {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.buttons {
  height: 80%;
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.buttons > * {
  height: 15%;
  width: 20%;
  font-size: 23px;
}

.btn-row {
  display: flex;
  width: 100%;
  column-gap: 10px;
}

.btn-row > * {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: #eaf6f6;
}

.btn.number,
.btn.negative,
.btn.decimal {
  background-color: #c6f1e7;
}

.btn.operator,
.btn.equal,
.btn.back {
  background-color: #70acb1;
  color: white;
}

.btn-row .clear {
  background-color: #e76565;
  color: white;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.btn:active {
  box-shadow: inset 0 0 6px #454545;
}

.previous {
  font-size: 20px;
  height: 30px;
}

.current {
  font-size: 45px;
  height: 30px;
}
